#Fix Rewrite
Options -Multiviews
 
# Mod Rewrite
Options +FollowSymLinks
RewriteEngine On
RewriteBase /MiniPHP/
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 

RewriteRule ^([a-z_]+)\/?$ $1.php [NC]